<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>注册</title>
</head>
<body>
    <div>
        <!--/*@thymesVar id="accountEntity" type="com.huyaaaaaa.classnote.entity.AccountEntity"*/-->
    <form action="#" th:action="@{/register}" th:object="${accountEntity}" method="post">
        <input type="text" value="" th:field="*{accountAcc}" />
        <input type="text" value="" th:field="*{accountPwd}" />
        <input type="text" value="" th:field="*{accountEmail}" />
        <input type="submit" />
    </form>
    </div>
    <h1>123123123</h1>
</body>
</html>